<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" id="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <!-- font awesome embed code -->
    <script src="https://use.fontawesome.com/4838ba5ed8.js"></script>
  </head>
  <body>
    <h1><%= title %></h1>

    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <form id="video-upload-form" method="POST" action="api/video/upload" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="video-file" class="">Select file:</label>
                        <input id="video-file" class="form-control" type="file" name="videos" multiple  required />
                    </div>
                    <div class="form-group">
                        <input type="submit" class="btn btn-success" value="UPLOAD" />
                    </div>
                </form>
            </div>
            <div class="col-md-9">
                <div id="video-list">
                    <% if ( videos.length ) { %>
                        <%- include('videos', {videos: videos, config: config}); %>
                    <% } %>
                    <h3 id="no-videos" class="text-center <%= !videos.length ? '' : 'hide' %>">No videos found</h3>
                </div>
            </div>
        </div>
    </div>


    <div id="video-modal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Playing Video</h4>
                </div>
                <div class="modal-body">
                    <video id="video" width="560" height="315" controls>
                        <source src="" type="">
                        Your browser does not support the video tag.
                    </video>
                </div>
            </div>
        </div>
    </div>

    <script>
		var API_BASE_URL = "http://"+window.location.host+"/api/";
	</script>
    <script src="/javascripts/jquery-3.2.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="/javascripts/app.js"></script>
  </body>
</html>
